node_modules/
build/
tmp/
.DS_Store

# Yarn v4
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Ignore Yarn v4 cache
.yarn/cache

# Ignore Yarn v4 build state
.yarn/build-state.yml

# Ignore Yarn v4 install state
.yarn/install-state.gz

# Ignore Yarn v4 log files
.yarn/unplugged

# Ignore PnP files
.pnp.*

.bundle-discovery/
/lib/.tmp.js
